<!DOCTYPE html/>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1>Hours</h1>
	<p>User List</p>
	<div id="hours">
		<% hours.forEach(function(hour) { %>
		<div class="hours">
			<h2><%=hour.loggedFor%></h2><h2><%=hour.num%></h2>
			<% items.forEach(function(item) { if (item.id == hour.item_id) {%>
			<h2><%=item.itemname%></h2>
			<% }}) %>
		</div>
		<% }) %>
	</div>
	<div id="items">
		<% items.forEach(function(item) { %>
		<div class="hours">
			<%=item.itemname%>
		</div>
		<% }) %>
	</div>
</body>
</html>

